body{
    background-color: #cccccc;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 10px;
}

h1{
    text-align: center;
    position: relative;
    margin: 0;
    font-size: 3rem;
    
}
p{
    position: absolute;
    padding: 1.2rem;
    font-size: 1.5rem;
    
}
.naranja{
    background-color: #ffd580;
    border: 3px solid #806633;
    text-align: center;
    left: 10%;
    width: 80%;
    height: 10%;
}
.verde{
    background-color: #80ff80;
    border: 3px solid #338033;
    text-align: center;
    top: 40%;
    left: 32%;
    width: 35%;
    height: 30%;
    z-index: 2;


}
.amarillo{
    background-color: #ffff80;
    border: 3px solid #d9d940;
    text-align: left;
    left: 10%;
    top: 20%;
    z-index: 3;
    width: 35%;
    height: 30%;

}
.azul{
    background-color: #ccffff;
    border: 3px solid #99cccc;
    text-align: right;
    z-index: 3;
}
.lila{
    background-color: #ffe6ff;
    border: 3px solid #bfa6bf;
    text-align: left;
    z-index: 3;
}
.rojo{
    background-color: #ffb3b3;
    border: 3px solid #806666;
    text-align: right;
    z-index: 3;
}